/* Custom style sheet for additional control outside of bootstrap css */
  
/* add to main folio css */
html, body { 
    height: 100%; 
    width: 100%;
    margin: 0;
    line-height: 1.8; 
    background-color: #eee;
}

/* add to main folio css */
.outputField { 
    border-color: #cfcfcf;
    border-width: 1px;
    min-height: 20px;
    border-style: solid;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.checkbox {
    text-align: center;
}


header { 
    background-color: #fff;
}

.logo-row {
    height: 75px;
}

.logo {
    background-color: #ffde03;
    padding: 18px 0 10px 0;
}

.header-row {
    border-bottom: 1px solid #c7c7c7;
} 

h1 {
    font-size: 28px;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 28px;
    color: #000;
    font-weight: 400;
    line-height: 1.9;
}

h3 {
    font-size: 25px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
}

h4 {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
}

p {
    font-size: 16px;
}


.margin-auto {
    margin: 0 auto; 
}

.nav-link {
    padding: 23px 17px 0 17px;
}

.grey {
    border-top: 1px solid #c7c7c7;
}

.white {
    background-color: #fff;
    border: 1px solid #c7c7c7;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}



.image {
    background-repeat: no-repeat;
    background-size: cover;


 
/*  media queries  */

@media only screen and (max-width: 575px) {
    .logo-row {
        height: 170px;
    }
    .nav-link {
        padding: 23px 12px 0 12px;
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
        font-weight: 400;   
        margin-top: 3px;
    }

    h2 {
        font-size: 30px;
        margin-top: 3px;
    }

    h4 {
        font-size: 26px;
    }

    .profile-thumb {
        max-width: 100%;
        height: auto; 
    }

    .devices {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .phone {
        display: none;
    }
}


